
!**/src/main/**/build/
!**/src/main/**/target/
!**/src/test/**/build/
!**/src/test/**/target/
!.mvn/wrapper/maven-wrapper.jar
### Eclipse ###
### IntelliJ IDEA ###
### Mac OS ###
### NetBeans ###
### VS Code ###
*.iml
*.ipr
*.iws
.DS_Store.superpowers/
.apt_generated
.classpath
.factorypath
.idea
.idea/compiler.xml
.idea/dataSources.xml
.idea/encodings.xml
.idea/jarRepositories.xml
.idea/libraries/
.idea/modules.xml
.project
.settings
.springBeans
.sts4-cache
.vscode/
/.nb-gradle/
/dist/
/nbbuild/
/nbdist/
/nbproject/private/
build/
target/
