<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!--应用名称-->
    <property name="APP_NAME">demo</property>
    <!-- 定义日志文件的存储路径 -->
    <property name="LOG_FILE_PATH" value="/todo/logs/Joker-Box/${APP_NAME}"/>

    <!-- 定义日志文件的文件名 -->
    <property name="LOG_FILE" value="app.log"/>

    <!-- 定义日志的模式（支持变量） -->
    <property name="LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n"/>

    <!-- 控制台输出 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- 文件输出 -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- 定义日志文件的路径和文件名 -->
        <file>${LOG_FILE_PATH}/${LOG_FILE}</file>
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- 日志文件名格式 -->
            <fileNamePattern>${LOG_FILE_PATH}/app-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <!-- 保留天数 -->
            <maxHistory>30</maxHistory>
            <!-- 日志文件最大大小 -->
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>

    <!-- 日志级别 -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>

</configuration>