<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cat.simple.form.mapper.DynamicFormFieldInstanceMapper">

    <select id="selectPage" resultType="com.cat.common.entity.dynamicForm.DynamicFormFieldInstance">
        SELECT * FROM cat_dynamic_form_field_instance
    </select>
</mapper>
