<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cat.simple.form.mapper.DynamicFormFieldGroupTemplateMapper">
    <select id="selectPage" resultType="com.cat.common.entity.dynamicForm.DynamicFormFieldGroupTemplate">
        SELECT * FROM cat_dynamic_form_field__group_template
        <where>
            <if test="param.search != null and param.search != ''">
                and ( title like concat('%',#{param.search},'%') or description  like concat('%',#{param.search},'%') )
            </if>
        </where>
    </select>
</mapper>