<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cat.simple.form.mapper.DynamicFormMapper">

    <select id="selectPage" resultType="com.cat.common.entity.dynamicForm.DynamicForm">
        SELECT cdf.*,cu.nickname createByName FROM cat_dynamic_form cdf
        INNER JOIN cat_user cu on cdf.create_by = cu.id
        <where>
            and cdf.deleted = '0'
        </where>
    </select>
</mapper>
