<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cat.simple.system.mapper.MenuMapper">
    <insert id="insertMenuApiRelation">
        INSERT cat_menu_api
        SELECT *
        FROM
        (
        SELECT #{menuId},path,server,#{updateTime}
        FROM
        cat_api_path
        WHERE
        white_list = '0'
        <foreach collection="relations" item="relation" open=" AND (" close=")" separator="OR">
            ( server = #{relation.server}
            AND path = #{relation.apiPath} )
        </foreach>
        ) insertTmp
    </insert>
    <delete id="deleteMenuApiRelation">
        DELETE FROM cat_menu_api WHERE menu_id = #{menuId}
    </delete>

    <select id="selectPage" resultType="com.cat.common.entity.menu.Menu">
        SELECT * FROM cat_menu
        <where>
            <if test='param.search != null and param.search != ""'>
                AND ( path LIKE CONCAT('%',#{param.search},'%') OR sdname LIKE CONCAT('%',#{param.search},'%') )
            </if>
            <if test='param.menuType != null and param.menuType != ""'>
                AND menu_type = #{param.menuType}
            </if>
        </where>
        ORDER BY sort DESC
    </select>
    <select id="queryAllByAuth" resultType="com.cat.common.entity.menu.Menu">
        SELECT
            distinct cm.*
        FROM
            cat_menu cm
        <if test="!idAdmin">
            LEFT JOIN cat_role_menu crm ON cm.id = crm.menu_id
            <where>
                <choose>
                    <when test="roleIds != null and roleIds.size() > 0 ">
                        <foreach collection="roleIds" item="roleId" open="AND crm.role_id in ( " close=" ) " separator=",">
                            #{roleId}
                        </foreach>
                    </when>
                </choose>
                OR cm.white_list = '1'
            </where>
        </if>
        ORDER BY cm.sort DESC, cm.create_time ASC
    </select>
    <delete id="delete">
        <choose>
            <when test='server != null and server != "" and apiPaths!=null and apiPaths.size() > 0'>
                DELETE FROM cat_menu_api
                where
                server = #{server}
                <foreach collection="apiPaths" item="apiPath" open="AND api_path not in ( " close=" ) " separator=",">
                    #{apiPath}
                </foreach>
            </when>
            <otherwise>
                SELECT 0
            </otherwise>
        </choose>
    </delete>
</mapper>