<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cat.simple.system.mapper.OrgMapper">

    <select id="selectPage" resultType="com.cat.common.entity.auth.Org">
        SELECT * FROM cat_org
        <where>
            deleted = 0
            <if test='param.search != null and param.search != ""'>
                AND name = #{param.search}
            </if>
            <if test='param.parentId != null and param.parentId != ""'>
                AND parent_id = #{param.parentId}
            </if>
        </where>
    </select>
    <select id="getOrgsByUserId" resultType="com.cat.common.entity.auth.Org">
        SELECT co.* FROM cat_org co
        INNER JOIN cat_org_user cou ON co.id = cou.org_id
        <where>
            cou.user_id = #{userId}
        </where>
    </select>
    <select id="getOrgIdsByUserId" resultType="java.lang.Integer">
        SELECT cou.org_id FROM cat_org_user cou
        <where>
            cou.user_id = #{userId}
        </where>
    </select>
    <select id="getOrgWithFullPath" resultType="com.cat.common.entity.auth.Org">
        WITH RECURSIVE path AS (
            SELECT
                id,
                parent_id,
                name,
                deleted,
                create_time,
                update_time,
                CAST(name AS CHAR(500)) AS full_path
            FROM cat_org
            WHERE parent_id IN (0, -1)          -- 根节点
            UNION ALL
            SELECT
                o.id,
                o.parent_id,
                o.name,
                o.deleted,
                o.create_time,
                o.update_time,
                CONCAT(p.full_path, '/', o.name)
            FROM cat_org o
                     JOIN path p ON o.parent_id = p.id
        )
        SELECT id, parent_id, name, deleted, create_time, update_time, full_path
        FROM path
        <where>
            deleted = '0' and id = #{id}
        </where>
    </select>
</mapper>