<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cat.simple.mapper.UserMapper">
    <insert id="insertUserAndRole">
        INSERT cat_user_role
        SELECT
            (SELECT id FROM cat_user WHERE deleted='0' AND id=#{userId}) AS userId,
            (SELECT id FROM cat_role WHERE deleted='0' AND id=#{roleId}) AS role_id,
            #{createTime} AS createTime
    </insert>
    <insert id="insertUserAndOrg">
        INSERT cat_org_user
        SELECT
                IF(#{orgId} = '-1','-1',(SELECT id FROM cat_org WHERE deleted='0' AND id=#{orgId})) AS org_id,
                (SELECT id FROM cat_user WHERE deleted='0' AND id=#{userId}) AS user_id,
                #{createTime} AS createTime
    </insert>
    <delete id="removeUserAndRole">
        DELETE FROM cat_user_role
        WHERE
            user_id = #{userId}
            AND role_id = #{roleId}
    </delete>
    <delete id="removeUserAndOrg">
        DELETE FROM cat_org_user
        WHERE
            user_id = #{userId}
          AND org_id = #{orgId}
    </delete>

    <select id="selectPage" resultType="com.cat.common.entity.auth.User">
        SELECT
        DISTINCT
        cu.*
        FROM
        cat_user cu
        <if test='param.roleId != null and param.roleId != ""'>
            LEFT JOIN cat_user_role cur ON cu.id = cur.user_id
        </if>
        <if test='param.orgId != null and param.orgId != ""'>
            LEFT JOIN cat_org_user cou  ON cu.id = cou.org_id
        </if>
        where cu.deleted = '0'
        <if test='param.search != null and param.search != ""'>
            AND (
            cu.username LIKE CONCAT('%',#{param.search},'%')
            OR
            cu.nickname LIKE CONCAT('%',#{param.search},'%')
            OR
            cu.id LIKE CONCAT('%',#{param.search},'%')
            )
        </if>
        <if test='param.roleId != null and param.roleId != ""'>
            AND cur.role_id = #{param.roleId}
        </if>
        <if test='param.orgId != null and param.orgId != ""'>
            AND cou.org_id = #{param.orgId}
        </if>
        <if test='param.type != null and param.type != ""'>
            AND cu.type = #{param.type}
        </if>
    </select>
    <select id="userCountByRole" resultType="java.lang.Integer" parameterType="java.lang.String">
        SELECT COUNT(1)
        FROM cat_user_role
        where role_id = #{roleId}
    </select>
    <select id="selectListByRole" resultType="com.cat.common.entity.auth.User">
        SELECT cu.*
        FROM cat_user cu
        INNER JOIN cat_user_role cur ON cu.id = cur.user_id
        <where>
            cu.deleted = 0
        and cur.role_id = #{roleId}
        </where>
    </select>
    <select id="selectListByRoles" resultType="com.cat.common.entity.auth.User">
        SELECT cu.*
        FROM cat_user cu
        INNER JOIN cat_user_role cur ON cu.id = cur.user_id
        <where>
            cu.deleted = 0
            <if test="roleIds == null or roleIds.size() == 0">
                and 1 = 2
            </if>
            <foreach collection="roleIds" item="roleId" open="AND (" close=")" separator="OR">
                cur.role_id = #{roleId}
            </foreach>
        </where>
    </select>
    <select id="selectListByOrg" resultType="com.cat.common.entity.auth.User">
        SELECT cu.*
        FROM cat_user cu
        INNER JOIN cat_org_user cou ON cu.id = cou.user_id
        <where>
            cu.deleted = 0
            and cou.org_id = #{orgId}
        </where>
    </select>
    <select id="selectListByOrgs" resultType="com.cat.common.entity.auth.User">
        SELECT cu.*
        FROM cat_user cu
        INNER JOIN cat_org_user cou ON cu.id = cou.user_id
        <where>
            cu.deleted = 0
            <if test="orgIds == null or orgIds.size() == 0">
                and 1 = 2
            </if>
            <foreach collection="orgIds" item="orgId" open="AND (" close=")" separator="OR">
                cou.org_id = #{orgId}
            </foreach>
        </where>
    </select>
    <select id="selectListByIds" resultType="com.cat.common.entity.auth.User">
        select * from cat_user
        <where>
            deleted = 0
            <if test="userIds == null or userIds.size() == 0">
                and 1 = 2
            </if>
            <foreach collection="userIds" item="userId" open="AND (" close=")" separator="OR">
                id = #{userId}
            </foreach>
        </where>
    </select>
</mapper>
