<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cat.simple.mapper.WebLogMapper">
    <insert id="bak">
        INSERT cat_web_log_bak
        SELECT * FROM cat_web_log
        WHERE end_time &lt; #{endDate}

    </insert>

    <select id="selectPage" resultType="com.cat.common.entity.WebLog">
        SELECT * FROM cat_web_log
    </select>
</mapper>