<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cat.simple.mapper.WorkOrderMapper">

    <select id="selectPage" resultType="com.cat.common.entity.workOrder.WorkOrder">
        SELECT
            cwo.*,
            cu.nickname as createByName,
            cpd.process_name as processDefinitionName,
            IF(task.ID_ IS NULL , cpi.process_status, '21') as processStatus,
            task.ID_  as taskId,
            cpi.create_time as processInstanceCreateTime,
            cpi.update_time as processInstanceUpdateTime
        FROM cat_work_order cwo
        INNER JOIN cat_user cu ON cwo.create_by = cu.id
        INNER JOIN cat_process_definition cpd ON cwo.process_definition_id = cpd.id
        <choose>
            <!-- 待办任务 -->
            <when test='param.type != null and param.type == "2"'>
                INNER JOIN cat_process_instance cpi ON cwo.process_instance_id = cpi.id
                INNER JOIN ACT_RU_TASK task ON cpi.process_instance_id = task.PROC_INST_ID_ and task.ASSIGNEE_ = #{param.userId}
            </when>
            <otherwise>
                LEFT JOIN cat_process_instance cpi ON cwo.process_instance_id = cpi.id
                LEFT JOIN ACT_RU_TASK task ON cpi.process_instance_id = task.PROC_INST_ID_ and task.ASSIGNEE_ = #{param.userId}
            </otherwise>
        </choose>
        <where>
            AND cwo.deleted = '0'
            AND ( cwo.status = '1' OR ( cwo.status = '0' AND cwo.create_by = #{param.userId} ) )
            <if test='param.type != null and param.type == "11"'>
                AND cwo.status = '1' AND cwo.create_by = #{param.userId}
            </if>
            <if test='param.type != null and param.type == "0"'>
                AND cwo.status = '0'
            </if>
        </where>
    </select>
    <select id="selectDetailById" resultType="com.cat.common.entity.workOrder.WorkOrder">
        SELECT cwo.*,cu.nickname as createByName FROM cat_work_order cwo
        INNER JOIN cat_user cu ON cwo.create_by = cu.id
        <where>
            and cwo.deleted = '0' and cu.deleted = '0'
            and cwo.id = #{id}
        </where>
    </select>
</mapper>